.color-link{
    color: white !important;
}

.navegacion{
    background-color:#50c8c6;
}


.color-card{
    background-color : #50c8c6;
    color: white !important;
}

.mdb-accordion-header{
    color: white;
}